html{
	font-size: 65.5%; /* 62.5% */
	margin: 0;
}

body{
	background-color: #f7f7f7;
}

.login-container{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	/* font-family: Helvetica, Arial, sans-serif; */
}

form{
	background-color: #f1f1f1;
	border-radius: 1.5rem;
	border: 0.11rem solid #b8b6b6;
	padding: 4rem 3.5rem;
	width: 25%;
}

.form-row{
	display: flex;
	margin-bottom: 1.5rem;
	flex-direction: column;
}

label{
	font-size: 1.4rem;
	margin-bottom: 0.6rem;
}

input{
	font-size: 1.7rem;
	padding: 1rem;
	border-radius: .5rem;
	border: none;
}

.btn{
	border: .1rem solid #b8b6b6;
	padding: 1rem;
	font-size: 1.5rem;
	cursor: pointer;
	margin-top: .7rem;
	border-radius: .5rem;
	transition: all .5s;
}

.btn.btn-primary{
	background-color: rgb(255, 179, 37);
	color: #fefefe
}

.btn:hover{
	background-color: rgba(255, 179, 37, 0.518);
	color: rgb(102, 102, 102);
}

h1{
	text-align: center;
	font-family: cursive;
	padding-bottom: 2.5rem;	
	font-size: 2.4rem;
}

.btn:disabled{
	cursor: not-allowed;
	background-color: rgba(255, 179, 37, 0.518);
	color: rgb(102, 102, 102);
}